.s-icon-wrap{
    margin-top:15px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.s-icon-blank{
    padding: 20px;
    text-align: center;
    color: rgba(0,0,0,.5);
}
.s-icon{
    position:relative;
    /* height: 160px; */
    width: 160px;
    border: solid 2px transparent;
    font-size: 14px;
    padding: 15px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #0078d7;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius:3px;
}
.s-icon:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
    background: white;
    text-decoration: none;
}
.s-icon-heading{
    padding-top: 20px;
    font-size:18px;
    color: #333;
    text-align: center;
}
.s-icon .fa{
    display: block;
    margin-bottom: 5px;
}
.s-icon .sub{
    font-size: .8em;
    color: #333;
}
.s-icon .badge{
    position: absolute;
    top:10px;
    right:35px;
    background: red;
    font-size: 13px;
}

/* search input field */
input[type=search].start {
    background: #ededed url(../img/search-icon.png) no-repeat 9px center;
    border: solid 2px #333;
    padding: 9px 10px 9px 32px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

}
input[type=search].start:focus {
    background-color: #fff;
    border-color: #0078d7;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.fa-o {
    color: white;
    -webkit-text-stroke: 2px black;
}
